<main>
    <%= form_with url: import_path do |f| %>
      <%= f.label :identifier, "Identifier" %>
      <%= f.text_field :identifier %>
      <%= f.file_field :file %>
      <%= f.submit "Submit" %>
    <% end %>
</main>