<main>
    <%= form_with model: @csv_file do |f| %>
      <%= f.label :identifier, "Identifier" %>
      <%= f.text_field :identifier, minlength: 2, required: true %>
      <%= f.file_field :file, accept: '.csv' %>
      <%= f.submit "Submit" %>
    <% end %>
</main>