<main class="container section">
  <section class='columns'>
        <%= form_with url: search_path, class:"column is-full", local: true do |f|%>
        <div class="field">
            <%= f.label :identifier %>
            <%= f.text_field :identifier, placeholder: "Search identifier here" %>
        </div>
        <div class="field">
            <%= f.submit "Search", class: 'button is-primary'%>
        </div>
        <% end %>
  </section>
  <section class="field content">
        <ul>
            <li><%= @ok %></li>
            <li><%= @ok %></li>
            <li><%= @ok %></li>
            <li><%= @ok %></li>
            <li><%= @ok %></li>
        </ul>
   </section>
</main>