<main class="container section">
  <section class='columns'>
        <%= form_with url: search_path, class:"column is-full", local: true do |f|%>
        <div class="field">
            <%= f.label :identifier %>
            <%= f.text_field :identifier, placeholder: "Search identifier here" %>
        </div>
        <div class="field">
            <%= f.submit "Search", class: 'button is-primary'%>
        </div>
        <% end %>
  </section>
  <section class="field content">
       <% if @csvs.present? %>
            <h2>Identifier Tag</h2>
            <h4><%= @csvs.first.identifier %></h4>
            <table>
                <thead>
                    <tr>
                        <th>Row Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <% @csvs.each do |row| %>
                    <tr>
                        <td><%= row.row_number %></td>
                        <td><%= row.first %></td>
                        <td><%= row.last %></td>
                        <td><%= row.phone_number %></td>
                        <td><%= row.email %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
   </section>
    <section class="field content">
       <% if @errors.present? %>
            <table>
                <thead>
                    <tr>
                        <th>Row Number</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    <% @errors.each do |row| %>
                    <tr>
                        <td><%= row.row_number %></td>
                        <td><% row.row_errors.each do |err|%>
                            <%= err %>,
                          <% end %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
   </section>
</main>